body{

margin:0;
background:black;
color:white;
font-family:Poppins;
overflow-x:hidden;

}

#cursor-light{

position:fixed;
width:400px;
height:400px;

background:radial-gradient(circle,
rgba(255,255,255,0.25),
transparent 70%);

pointer-events:none;

transform:translate(-50%,-50%);
mix-blend-mode:screen;

}

#intro{

position:fixed;
width:100%;
height:100vh;

background:black;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

z-index:10;

}

.flash{

position:absolute;
width:100%;
height:100%;

animation:flicker 0.2s infinite;

}

@keyframes flicker{

0%{background:black}
50%{background:white}
100%{background:black}

}

.tagline{

font-size:50px;
opacity:0;
animation:tag 3s forwards;

}

@keyframes tag{

0%{opacity:0}
50%{opacity:1}
100%{opacity:0}

}

.logo{

font-family:Bebas Neue;
font-size:150px;

opacity:0;

transform:scale(0.4);

animation:logo 3s 4s forwards;

}

@keyframes logo{

to{

opacity:1;
transform:scale(1.4);

}

}

#portfolio{

opacity:0;
padding:120px;

}

header{

text-align:center;
margin-bottom:100px;

}

section{

margin-bottom:140px;
text-align:center;

}

.netflix-row{

display:flex;
overflow-x:auto;
gap:20px;
padding:20px;

}

.reels iframe{

width:320px;
height:570px;

border:none;
border-radius:10px;

transition:0.4s;

}

.reels iframe:hover{

transform:scale(1.1);

}

.gallery{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;

}

.gallery img{

width:350px;
border-radius:12px;

transition:0.4s;

}

.gallery img:hover{

transform:scale(1.1);

}

.reveal{

opacity:0;
transform:translateY(80px);
transition:1s;

}

.reveal.active{

opacity:1;
transform:translateY(0);

}
